*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:after,
:before {
   box-sizing: border-box;
}

body {
   height: 100vh;
   margin: 0;
   color: #d8d8d8;
   background: #1b1b1b;
   font-family: 'Inter', sans-serif;
}

.wpo-site-header .navigation {
   background-color: #fff;
   border: 0;
   border-radius: 0;
   margin-bottom: 0;
   padding: 0;
}

.fixed-navbar {
   -webkit-animation-name: fadeInDown;
   animation-name: fadeInDown;
   position: relative;
   z-index: 5555;
}

.wpo-header-style-1 .wpo-site-header {
   background: transparent;
   left: 0;
   padding: 0;
   position: absolute;
   top: 0;
   width: 100%;
   z-index: 99;
}

.wpo-header-style-1 .wpo-site-header .navigation {
   background: transparent;
}

.navbar {
   align-items: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding-bottom: 0.5rem;
   padding-top: 0.5rem;
   position: relative;
}




















.element {
   width: 100vw;
   height: 100vh;
   background:
      radial-gradient(circle at 13% 30%,
         rgb(64, 26, 30), transparent 600px),
      /* radial-gradient(circle at center, rgb(69, 63, 14) 0% 80%, #0000 81% 100%); */
      radial-gradient(circle at 95% 10%,
         rgb(32, 61, 70), transparent 500px),
      radial-gradient(circle at 60% 60%, rgb(69, 63, 14),transparent 500px);
}

.element .hero-inner {
   align-items: center;
   background-position: 50%;
   background-size: cover;
   display: flex;
   height: 100%;
   justify-content: center;
   left: 0;
   position: absolute;
   text-align: left;
   top: 0;
   width: 100%;
   z-index: 1;
}

.element .container{
   margin-left: auto;
   margin-right: auto;
   padding-left: 0.75rem;
   padding-left: var(--bs-gutter-x, .75rem);
   padding-right: 0.75rem;
   padding-right: var(--bs-gutter-x, .75rem);
   width: 100%;
}

.element .hero-inner .container {
   position: relative;
}

.element .wpo-static-hero-inner {
   padding-bottom: 85px;
}

.element .slide-title {
   padding-top: 130px;
}

.element .slide-title h2 span {
   color: #ffe600;
   display: block;
   font-size: 60px;
}
.element .slide-title h2 {
   color: #fff;
   font-size: 90px;
   font-weight: 700;
   line-height: 118%;
   margin-bottom: 10px;
   text-transform: capitalize;
}

.element .slide-sub-title h5 {
   color: #59c378;
   font-size: 32px;
   font-weight: 600;
   line-height: 39px;
   margin-bottom: 20px;
}

.element .slide-text p {
   color: #fff;
   font-size: 19px;
   line-height: 33px;
   margin: 0 0 30px;
}

.theme-btn:before,
.view-cart-btn:before {
   content: "";
   font-family: themify;
   font-size: 14px;
   position: absolute;
   right: 30px;
   top: 51%;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
}

.theme-btn,
.view-cart-btn {
   -webkit-backface-visibility: hidden;
   background: #59c378;
   border: 0;
   border-radius: 40px;
   color: #fff;
   cursor: pointer;
   display: inline-block;
   font-size: 16px;
   font-size: 1.0666666667rem;
   font-weight: 600;
   padding: 15px 65px 15px 35px;
   position: relative;
   text-transform: capitalize;
   z-index: 1;
}

.theme-btn::after,
.view-cart-btn::after {
   background: #41b362;
   border-radius: 40px;
   content: "";
   height: 100%;
   left: 0;
   opacity: 0;
   position: absolute;
   top: 0;
   transition: opacity .5s ease-out;
   width: 100%;
   z-index: -1;
}

@media (max-width: 1920px) {

   .element{
      height: 900px;
   }
}

@media (min-width: 1400px){ 
   .element .container{
      max-width: 1320px;
   }
}
.element1{
   background-color: #fff;
   height: 650px;
}